<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>timeToSolve</key>
	<integer>90</integer>
	<key>pointsPerTile</key>
	<integer>10</integer>
	<key>wordlist</key>
	<array>
		<array>
			<string>ayw</string>
			<string>way</string>
		</array>
		<array>
			<string>nru</string>
			<string>run</string>
		</array>
		<array>
			<string>dya</string>
			<string>day</string>
		</array>
		<array>
			<string>acr</string>
			<string>car</string>
		</array>
		<array>
			<string>arf</string>
			<string>far</string>
		</array>
		<array>
			<string>tge</string>
			<string>get</string>
		</array>
		<array>
			<string>epn</string>
			<string>pen</string>
		</array>
		<array>
			<string>ebd</string>
			<string>bed</string>
		</array>
		<array>
			<string>egl</string>
			<string>leg</string>
		</array>
		<array>
			<string>tew</string>
			<string>wet</string>
		</array>
		<array>
			<string>anm</string>
			<string>man</string>
		</array>
		<array>
			<string>tah</string>
			<string>hat</string>
		</array>
		<array>
			<string>ilo</string>
			<string>oil</string>
		</array>
		<array>
			<string>gte</string>
			<string>get</string>
		</array>
		<array>
			<string>ihm</string>
			<string>him</string>
		</array>
		<array>
			<string>atc</string>
			<string>cat</string>
		</array>
		<array>
			<string>erh</string>
			<string>her</string>
		</array>
		<array>
			<string>wfe</string>
			<string>few</string>
		</array>
		<array>
			<string>seu</string>
			<string>use</string>
		</array>
		<array>
			<string>utb</string>
			<string>but</string>
		</array>
	</array>
</dict>
</plist>
