<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>timeToSolve</key>
	<integer>30</integer>
	<key>pointsPerTile</key>
	<integer>30</integer>
	<key>wordlist</key>
	<array>
		<array>
			<string>eparg</string>
			<string>grape</string>
		</array>
		<array>
			<string>obuat</string>
			<string>about</string>
		</array>
		<array>
			<string>yarrc</string>
			<string>carry</string>
		</array>
		<array>
			<string>rkind</string>
			<string>drink</string>
		</array>
		<array>
			<string>ealnc</string>
			<string>clean</string>
		</array>
		<array>
			<string>wrad</string>
			<string>draw</string>
		</array>
		<array>
			<string>ghalu</string>
			<string>laugh</string>
		</array>
		<array>
			<string>erevn</string>
			<string>never</string>
		</array>
		<array>
			<string>esnve</string>
			<string>seven</string>
		</array>
		<array>
			<string>slahl</string>
			<string>shall</string>
		</array>
		<array>
			<string>fndou</string>
			<string>found</string>
		</array>
		<array>
			<string>rneeg</string>
			<string>green</string>
		</array>
		<array>
			<string>htese</string>
			<string>these</string>
		</array>
		<array>
			<string>hsteo</string>
			<string>those</string>
		</array>
		<array>
			<string>wichh</string>
			<string>which</string>
		</array>
		<array>
			<string>oulwd</string>
			<string>would</string>
		</array>
		<array>
			<string>doaty</string>
			<string>today</string>
		</array>
		<array>
			<string>evsen</string>
			<string>seven</string>
		</array>
		<array>
			<string>tewri</string>
			<string>write</string>
		</array>
		<array>
			<string>gthri</string>
			<string>right</string>
		</array>
	</array>
</dict>
</plist>
