<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>timeToSolve</key>
	<integer>60</integer>
	<key>pointsPerTile</key>
	<integer>20</integer>
	<key>wordlist</key>
	<array>
		<array>
			<string>oehs</string>
			<string>shoe</string>
		</array>
		<array>
			<string>riah</string>
			<string>hair</string>
		</array>
		<array>
			<string>eben</string>
			<string>been</string>
		</array>
		<array>
			<string>alcl</string>
			<string>call</string>
		</array>
		<array>
			<string>tbse</string>
			<string>best</string>
		</array>
		<array>
			<string>ftsa</string>
			<string>fast</string>
		</array>
		<array>
			<string>ocld</string>
			<string>cold</string>
		</array>
		<array>
			<string>nyam</string>
			<string>many</string>
		</array>
		<array>
			<string>fvei</string>
			<string>five</string>
		</array>
		<array>
			<string>veag</string>
			<string>gave</string>
		</array>
		<array>
			<string>lpul</string>
			<string>pull</string>
		</array>
		<array>
			<string>eltl</string>
			<string>tell</string>
		</array>
		<array>
			<string>ared</string>
			<string>read</string>
		</array>
		<array>
			<string>ngis</string>
			<string>sing</string>
		</array>
		<array>
			<string>esod</string>
			<string>does</string>
		</array>
		<array>
			<string>uory</string>
			<string>your</string>
		</array>
		<array>
			<string>iswh</string>
			<string>wish</string>
		</array>
		<array>
			<string>evyr</string>
			<string>very</string>
		</array>
		<array>
			<string>rehe</string>
			<string>here</string>
		</array>
		<array>
			<string>kobo</string>
			<string>book</string>
		</array>
	</array>
</dict>
</plist>
